<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <!-- EXAMPLE WITHOUT LOCATLIZATION (ENGLISH ONLY) -->
  <ModulePrefs title="Jive Derby"
               description="An application for viewing Jive Derby race results and related information."
               author="Jive Developers"
               author_affiliation="Jive Software (Open Source)"
               author_email="jivedev@jivesoftware.com">

 <!-- EXAMPLE USING LOCATLIZATION -->
 <!--
 <ModulePrefs title="__MSG_title__"
              description="__MSG_description__"
              author="Jive Developers"
              author_affiliation="Jive Software (Open Source)"
              author_email="jivedev@jivesoftware.com">
   <Locale messages="locales/all_ALL.xml"/>
   <Locale lang="da" messages="locales/da_ALL.xml"/>
   <Locale lang="de" messages="locales/de_ALL.xml"/>
   <Locale lang="en" messages="locales/en_ALL.xml"/>
   <Locale lang="es" messages="locales/es_ALL.xml"/>
   <Locale lang="fr" messages="locales/fr_ALL.xml"/>
   <Locale lang="id" messages="locales/id_ALL.xml"/>
   <Locale lang="it" messages="locales/it_ALL.xml"/>
   <Locale lang="ja" messages="locales/ja_ALL.xml"/>
   <Locale lang="ko" messages="locales/ko_ALL.xml"/>
   <Locale lang="ms" messages="locales/ms_ALL.xml"/>
   <Locale lang="nl" messages="locales/nl_ALL.xml"/>
   <Locale lang="no" messages="locales/no_ALL.xml"/>
   <Locale lang="pt" messages="locales/pt_ALL.xml"/>
   <Locale lang="sv" messages="locales/sv_ALL.xml"/>
   <Locale lang="th" messages="locales/th_ALL.xml"/>
   <Locale lang="vi" messages="locales/vi_ALL.xml"/>
   <Locale lang="zh" country="TW" messages="locales/zh_TW.xml"/>
   <Locale lang="zh" messages="locales/zh_ALL.xml"/>
 -->

   <!-- Commonly used features -->
   <Require feature="dynamic-height"/>
   <Require feature="jquery-1.6"/>
   <Require feature="osapi"/>
   <Require feature="settitle"/>
   <Require feature="views"/>
   <Require feature="jive-core-v3"/>
   <Require feature="jive-core-v3-resolver"/>
   <Require feature="embedded-experiences"/>
   <Require feature="jive-custom-settings-1.0.0"/>
   <Require feature="jive-opensocial-ext-v1"/>
   <Require feature="opensocial-data"/>
   <Require feature="setprefs"/>
   <Require feature="selection"/>
   <Require feature="embedded-experiences"/>
	 <Require feature="actions">
		    <Param name="action-contributions">
   			<![CDATA[
           <!--
           #### UNCOMMENT THIS TO HIDE THE APP FROM THE APPS MENU IN THE NAV BAR ####
           <action id="org.jivesoftware.jivederby.app.launcherlessapp"
                   path="jive/apps/launcher?filter=false()"/>
           -->

   				<action id="org.jivesoftware.jivederby.app.profile.navbar"
   						path="jive/actions/profile"
   						label="Jive Derby"
              icon="images/icon16.png"
              view="profile-races"/>

          <action id="org.jivesoftware.jivederby.app.profile.tab"
              path="jive/tabs/profile"
              label="Jive Derby"
              icon="images/icon16.png"
              view="profile-races"/>

   			]]>
		</Param>
	</Require>

   <!-- Icons: 3 sizes, 16x16, 48x48, 128x128 -->
   <Link rel="Icon"       href="images/icon16.png" />
   <Link rel="MediumIcon" href="images/icon48.png" />
   <Link rel="LargeIcon"  href="images/icon128.png" />

   <!-- Preloaded Content: http://wiki.opensocial.org/index.php?title=Remote_Data_Requests_%28v0.9%29#Preloading_data -->
   <!--
   <Preload href="http://www.example.com" />
   -->

 </ModulePrefs>

 <Content type="html"
          view="home,canvas"
          href="canvas.html"
          preferred_height="800" />

   <Content type="html"
            view="profile-races"
            href="profile-races.html"
            preferred_height="800" />

   <Content type="html"
            view="race-result"
            href="race-result.html"
            preferred_height="800" />

</Module>
